<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<style type="text/css">
	table, th, td {
		border: 1px solid black;
	}
		
	</style>	
		<title>OFish</title>
	</head>
	<body>
		<div>
			<h1>Welcome to OFish!</h1>
		</div>

		<div>
			<p>OFish is a tool designed for Oligodendroglioma FISH analysis</p>
		</div>

		<div>
		<table style='width:25%'>
			<tr>
				<th>Colour</th>
				<th>Chromosome Region</th>
			</tr>
			<tr>
				<td>Red</td>
				<td>
					<select> name="Chromosome Region"
						<option value='1p36'>1p36</option>
						<option value='1q25'>1q25</option>
						<option value='19p13'>19p13</option>
						<option value='19q13'>19q13</option>
					</select>

				 </td>
			</tr>
			<tr>
				<td>Green</td>
				<td> 
					<select> name="Chromosome Region"
						<option value='1p36'>1p36</option>
						<option value='1q25'>1q25</option>
						<option value='19p13'>19p13</option>
						<option value='19q13'>19q13</option>
					</select>

				</td>
			</tr>			
		</table>
		<br>
		</div>
		<div>
		<form>
			<table style="width:50%">
				<tr>
					<th>Red Signal</th>
					<th>Green Signal</th>
					<th>No. of cells</th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
				<tr>
					<th> 
						<input type="number" min="1" max="10" name="Red Signals">
					</th>
					<th> 
						<input type="number" min="1" max="10" name="Green Signals">
				    </th>
				    <th>
				    	<input type="number" min="0" max="50" name="No. of cells">
				    </th>
				</tr>
			</table>
			<br>
			<form>
				Total:
				<input type="text" name="totalcells" align='right'>
			</form>
			<br>
			<input type='submit' value='Submit'>
		</form>
		</div>

	</body>	
</html>