<html>
	<head>
	<style type="text/css">
	table, th, td {
		border: 1px solid black;
	}
		
	</style>	
		<title>OFish</title>
	</head>
	<body>
		<div>
			<h1>Welcome to OFish!</h1>
		</div>

		<div>
			<p>OFish is a tool designed for Oligodendroglioma FISH analysis</p>
		</div>

		<div>
		<table style='width:25%'>
			<tr>
				<th>Colour</th>
				<th>Chromosome Region</th>
			</tr>
			<tr>
				<td>Red</td>
				<td> </td>
			</tr>
			<tr>
				<td>Green</td>
				<td> </td>
			</tr>			
		</table>
		</div>
		<div>
		<table style="width:50%">
			<tr>
				<th>Red Signal</th>
				<th>Green Signal</th>
				<th>No. of cells</th>
			</tr>
			<tr>
				<th> a </th>
				<th> b </th>
				<th> c </th>
			</tr>
			
		</table>
		</div>

	</body>	
</html>